.App {
  text-align: center;
}
*{
  padding: 0%;
  margin: 0%;
  /* position: relative; */
  background-color: white;
}

.taskbox{
  margin: 40px 40px 10px 15% ;
  /* background-color:rgb(164, 185, 185); */
  
  
}
.inputtext{
  width: 75%;
padding: 10px 0px 10px 5px;
border: 0.5px solid gray;
border-radius: 2px;
margin: 0%;
font-size: 15px;
}
button{
  padding: 10px 20px 10px 20px;
  background-color: #007aff;
  border-radius:  0px 10px 10px 0px;
  border:  3px solid skyblue;
  margin: 0%;
  color: white;
  font-size: 15px;
  
}
.outputtext{
  border: 0.5px solid gray;
  width: 80%;
  position: relative;
  padding: 15px 15px 15px 15px;
  border-radius: 2px;
  /* background-color: teal; */
  /* border-bottom: 0px; */
}
.heading{
  margin-bottom: 20px;
  margin-top: 15px;
}
.btn2{
  background-color: #de3440;
  position: absolute;
  top:6px;
  right: 3%;
  border-radius:  5px;
  color: white;
  border: 2px solid #de3440 ;
  
}
.count{
  margin-left: 68%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
