.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heading{
  text-align: center;
  background: black;
  color: white;
}

.card{
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px black;
  padding:15px;
  margin:15px;
  min-height: 150px;
  width: 30%;
  float: left;
}
.card-header{
  min-height: 100px;
  background: gray;
  border-bottom: 2px solid black;
}

.card-footer{
  background: blue;
  min-height: 20px;
}
.card-footer a {
  text-align: center;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
